---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Jbira Lamiae" description="Découvrez mon parcours et mes compétences en informatique et développement web.">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos de moi"
				tagline="Merci de votre visite. Découvrez ci-dessous plus sur mon parcours et mes expériences."
			>
				<img
					width="1553"
					height="500"
					src="/assets/at-work.jpg"
					alt="Jbira Lamiae au travail avec un collègue"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Mon Parcours</h2>
				<div class="content">
					<p>
						Après deux années intenses en classes préparatoires aux grandes écoles au Lycée d'Excellence de Benguerir, spécialisées en mathématiques et physique, j'ai intégré l'ENSEIRB-MATMECA, une école d'ingénieurs reconnue pour sa formation en informatique. Actuellement en troisième année, je me spécialise en développement web.
					</p>
					<p>
						Durant mes deux premières années en tant que généraliste en informatique, j'ai travaillé sur plusieurs projets, notamment en développement de logiciels et en intelligence artificielle, ce qui m'a permis de renforcer mes compétences techniques et de collaborer efficacement au sein d'équipes projets.
					</p>
					<p>
						Récemment, j'ai effectué un stage de quatre mois chez Airbus en collaboration avec I2M à Bordeaux, où j'ai pu appliquer mes connaissances en environnement professionnel et travailler sur des projets d'envergure qui ont renforcé mon intérêt et mes compétences en développement web et logiciel.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Éducation</h2>
				<div class="content">
					<p>
						Ingénierie informatique, ENSEIRB-MATMECA, spécialisation en développement web.
					</p>
					<p>
						Classes préparatoires MPSI/MP, Lycée d'Excellence de Benguerir.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>
						Experte en développement web, avec une forte capacité en gestion de projets technologiques, programmation en divers langages (JavaScript, Python, C++), et une expérience significative en IA et logiciels.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
