---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Elfatihi Youssef" description="Découvrez mon parcours et mes compétences en informatique et développement Full Stack.">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos de moi"
				tagline="Merci de votre visite. Découvrez ci-dessous plus sur mon parcours et mes expériences."
			>
				<img
					width="1553"
					height="500"
					src="/assets/at-work.jpg"
					alt="Elfatihi Youssef au travail avec un collègue"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Mon Parcours</h2>
				<div class="content">
					<p>
						Après deux années intenses en classes préparatoires aux grandes écoles, spécialisées en mathématiques et physique, j'ai intégré l'ENSEIRB-MATMECA, une école d'ingénieurs reconnue pour sa formation en informatique. Actuellement en dernière année, je me spécialise en génie logiciel.
					</p>
					<p>
						Durant mes deux premières années en tant que généraliste en informatique, j'ai travaillé sur plusieurs projets, notamment en développement de logiciels et en systèmes distribués, ce qui m'a permis de renforcer mes compétences techniques et de collaborer efficacement au sein d'équipes projets.
					</p>
					<p>
						Récemment, j'ai effectué un stage de quatre mois à la Chaire Mobilité et Transports Intelligents à Bordeaux, où j'ai pu appliquer mes connaissances en environnement professionnel et travailler sur des projets de communication V2I et de sécurité routière qui ont renforcé mon intérêt et mes compétences en développement logiciel et systèmes embarqués.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Éducation</h2>
				<div class="content">
					<p>
						Ingénierie informatique, ENSEIRB-MATMECA, spécialisation en génie logiciel (2022-2025).
					</p>
					<p>
						Classes préparatoires MPSI/MP (2020-2022).
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>
						Développeur Full Stack, avec une expertise en architectures backend robustes (.NET, Python, Flask), développement frontend moderne (Vue.js, Nuxt 3), et déploiement cloud (Azure, Pulumi, Docker). Expérience significative en intégration CI/CD et gestion de bases de données. Trilingue arabe, français et anglais (TOEIC 980/990).
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>