---
import Icon from './Icon.astro';
---
<section class="box skills">
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Développement Logiciel</h2>
        <p>
            Solide expertise dans la conception et la mise en œuvre de logiciels complexes, avec une expérience approfondie en programmation orientée objet et en gestion de projets. Compétences en optimisation des performances et en développement d'applications robustes, assurant qualité et maintenabilité du code.
        </p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Développement Web</h2>
        <p>
            Expérience étendue dans la création d’applications web modernes et performantes. Maîtrise des technologies front-end comme HTML, CSS, JavaScript, et frameworks tels que React. Compétences en développement back-end avec Node.js et bases de données (SQL, PostgreSQL).
        </p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="brain" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Intelligence Artificielle</h2>
        <p>
            Compétences en développement d'algorithmes de machine learning et deep learning. Expérience dans la mise en œuvre de modèles prédictifs et d’analyse de données, avec une attention particulière à l'optimisation des performances et à l'interprétation des résultats.
        </p>
    </div>
</section>


<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
